
#result-navbar {
    height: 19vh;
    padding: 15px 120px;
    border-bottom: 1px solid lightgray;
}


.logo-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
.cleartrip-logo{
    margin-bottom: -10px;
}
.depart-date-result{
    width: 150px;
    
}
.return-date-result {
    width: 150px;
}
.search-btn {
    width: 150px;
    
}

/* .result-source-input{
    width: 180px;
    height: 40px;
    padding-left: 20px;
} */

/* .source-city-result-pop{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer; */
/* } */
/* .source-city-result-pop:hover{
    background-color: #EFF5FC;
} */

/* .result-source-input, .result-destination-input{
    font-size: 16px;
    font-weight: 450;
    border: 1px solid ;
    border: 5px;
    width: 14vw;
    height: 40px;
}
.result-source-input:focus{
    outline: 0;
    border-color: #0f53a0;
    scale: 1.05;
} 

.result-destination-input:focus{
    outline: 0;
    border-color: #0f53a0;
    scale: 1.05;
} */

.result-input-source, 
.result-input-destination{
    width: 19rem;
    height: 56px;
    border-radius: 6px;
    border: 1px solid #D3D3D3;
    font-size: 16px;
    padding-left: 20px;
    transition: 0.5s ease-in-out;
}
.result-input-source:hover{
    outline: 0;
    border-color: #0f53a0;
}
.result-input-source:focus{
    outline: 0;
    border-color: #0f53a0;
    scale: 1.05;
}
.result-input-source:active{
    outline: 0;
    border-color: #0f53a0;
}
.result-input-destination:hover{
    outline: 0;
    border-color: #0f53a0;
}
.result-input-destination:focus{
    outline: 0;
    border-color: #0f53a0;
    scale: 1.05;
}
.result-input-destination:active{
    outline: 0;
    border-color: #0f53a0;
}
