
.autoComplete {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hotel-input-box {
  width: 46vw;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  font-size: 16px;
  padding-left: 60px;
}


.dropdown {
  width: 46vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px gray;
  margin-top: 60px;
  position: absolute;
  z-index: 100;
  padding: 2px 20px;
}
  
.dropdown > div {
  text-align: left;
  height: 40px;
  padding: 12px 10px;
  color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}
.dropdown > div:first-child {
  border-top: 0;
}
.top-text{
  text-align: left;
  color: #B8BFC7;
}
.location-icon{
  position: absolute;
  margin-right: 30px;
}

.place-option:hover{
  cursor: pointer;
  background-color: #EFF5FC;
}