
#hotel-page{
    padding-top: 32px;
    display: flex;
    gap: 30px;
}
.hotel-search-header h1{
    color: #292929;
}
.hotel-search-header h4{
    color: #444444;
    font-weight: 500;
}
#h-search-card{
    width: 52vw;
    height: 47vh;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 30px;
}

/* hotel search card */

.autoComplete {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hotel-input-box {
    width: 46vw;
    height: 56px;
    border-radius: 6px;
    border: 1px solid #D3D3D3;
    font-size: 16px;
    padding-left: 60px;
  }
  .dropdown {
    width: 46vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px gray;
    margin-top: 60px;
    position: absolute;
    z-index: 100;
    padding: 2px 20px;
  }  
  .dropdown > div {
    text-align: left;
    height: 40px;
    padding: 12px 10px;
    color: rgb(43, 43, 43);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    position: relative;
  }
  .dropdown > div:first-child {
    border-top: 0;
  }
  .top-text{
    text-align: left;
    color: #B8BFC7;
  }
  .location-icon{
    position: absolute;
    margin-right: 30px;
  }
  .place-option:hover{
    cursor: pointer;
    background-color: #EFF5FC;
  }
  .place-option:hover .location-icon:hover{
    color: blue;
  }

.location-input{
    padding-top: 20px;
    position: relative;
}
.place-icon{
    position: absolute;
    left: 18px;
    bottom: 15px;
}
.location{
    width: 39rem;
    height: 59px;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    padding-left: 50px; 
}
input[placeholder="Search your favourite hotels"]{
    font-size: 18px;
    
}
.date-room-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: relative;
}
.date-input{
    display: flex;
}

.h-date-icon{
    position: absolute;
    top: 15px;
    left: 18px;
    z-index: 5;
}
/* add rooms */
.add-room-btn{
    width: 12rem;
    height: 56px;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}
.menu{
    margin-top: 0;
    width: 14rem;
}
.menu-item-header{
    margin-left: -2px;
    column-count: #A3A3A3;
    font-size: 16px;
    font-weight: 500;
}
.menu-item-header:hover{
    cursor: default;
    background-color: #FFFFFF;
}
.menu-item{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}


.h-search-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.h-search-btn{
    width: 12rem;
    height: 49px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #F77728;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-right: 2rem;
}
.search-hotels-btn:hover{
    background-color: #D4581D;
}



/* media quries */
@media screen and (min-width:260px){
    #h-search-card{
        width: 93vw;
        height: 53vh;
        padding-left: 10px;
    }
   .hotel-input-box {
        width: 85vw;
        padding-left: 30px;
    } 
    .place-icon{
        left: 5px;
    }
    .dropdown{
        width: 85vw;
    }
    .add-room-btn{
        width: 85vw;
    }
   .menu{
    width: 85vw;        
   }
    .date-room-input{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }  
    .hotel-search-header{
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
    .h-date-icon{
        top: 90px;
        left: 5px;
    }
    .h-search-btn-container{
        justify-content: flex-start;
    }
    .h-search-btn{
        width: 85vw;
        margin-right: 10px;
    }
}
@media screen and (min-width:320px) {
    #h-search-card{
        width: 93vw;
        height: 53vh;
        padding-left: 10px;
    }
   .hotel-input-box {
        width: 85vw;
        padding-left: 30px;
    } 
    .place-icon{
        left: 5px;
    }
    .dropdown{
        width: 85vw;
    }
    .add-room-btn{
        width: 85vw;
    }
   .menu{
    width: 85vw;        
   }
    .date-room-input{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }  
    .hotel-search-header{
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
    .h-date-icon{
        top: 90px;
        left: 5px;
    }
    .h-search-btn-container{
        justify-content: flex-start;
    }
    .h-search-btn{
        width: 85vw;
        margin-right: 10px;
    }
    
 } 

 @media screen and (min-width:600px) {
    #h-search-card{
        width: 52vw;
        height: 55vh;
        padding-left: 10px;
    }
   .hotel-input-box {
        width: 48vw;
        padding-left: 30px;
    } 
    .place-icon{
        left: 5px;
    }
    .dropdown{
        width: 48vw;
    }
    .add-room-btn{
        width: 48vw;
    }
   .menu{
    width: 48vw;        
   }
    .h-search-btn{
        width: 48vw;
        margin-right: 10px;
    }
    
 } 

 @media screen and (min-width:900px) {
    #h-search-card{
        gap: 40px;
        height: 51vh;
        padding-left: 20px;
        justify-content: center;
    } 
    .date-room-input{
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }
    .add-room-btn{
        width: 17vw;
    } 
    .h-date-icon{
        top: 16px;
        left: 5px;
    }  
 }
 
 @media screen and (min-width:1024px) {
    .h-search-btn-container{
        justify-content: flex-end;
    }
    .hotel-input-box {
        padding-left: 50px;
    } 
    .place-icon{
        left: 15px;
    }
    .h-date-icon{
        left: 15px;
    }
    .h-search-btn{
        width: 20vw;
        margin-right: 20px;
    }
 } 
 @media screen and (min-width:1280px) {
    .h-search-btn{
        margin-right: 30px;
    }
    .date-room-input{
        gap: 25px;
    }
 } 


